.sticky-header {
  position: fixed;
  background-color: #11b981;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 14px;
  z-index: 999;
  right: 0px;
}

.logo {
  color: #ffffff;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  margin-right: 25px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #11b981;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  color: #ffffff;
  font-size: 20px;
}

.nav {
  display: flex;
}

.nav-button {
  background-color: #11b981;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  margin-right: 145px;
}

.nav-button:hover {
  background-color: #f56f3a;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .sticky-header {
    padding: 10px;
  }

  .nav-button {
    margin-right: 10px;
  }
}
